name: Tests

on:
  pull_request:
    branches:
      - main
      - dev
  workflow_dispatch:

env:
  EM_CACHE_FOLDER: "emsdk-cache"

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: "Setup pnpm"
        uses: pnpm/action-setup@v4

      - name: "Setup node"
        uses: actions/setup-node@v4
        with:
          node-version: 25
          cache: "pnpm"

      - name: "Install dependencies"
        run: pnpm install

      - name: "Run build"
        run: pnpm build

      - name: "Run linter"
        run: pnpm lint
